<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eyy.learning.mapper.CommentMapper">

    <resultMap type="com.eyy.learning.domain.Comment" id="CommentMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="courseId" column="course_id" jdbcType="INTEGER"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="likes" column="likes" jdbcType="INTEGER"/>
        <result property="collect" column="collect" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="hide" column="hide" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="CommentMap">
        select id,
               user_id,
               course_id,
               content,
               likes,
               collect,
               create_time,
               hide
        from comment
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAll" resultMap="CommentMap">
        select
        id, user_id, course_id, content, likes, collect, create_time, hide
        from comment
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="courseId != null">
                and course_id = #{courseId}
            </if>
            <if test="content != null and content != ''">
                and content = #{content}
            </if>
            <if test="likes != null">
                and likes = #{likes}
            </if>
            <if test="collect != null">
                and collect = #{collect}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="hide != null">
                and hide = #{hide}
            </if>
        </where>
    </select>

    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(*)
        from comment
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="courseId != null">
                and course_id = #{courseId}
            </if>
            <if test="content != null and content != ''">
                and content = #{content}
            </if>
            <if test="likes != null">
                and likes = #{likes}
            </if>
            <if test="collect != null">
                and collect = #{collect}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="hide != null">
                and hide = #{hide}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into comment(user_id, course_id, content, likes, collect, create_time, hide)
        values (#{userId}, #{courseId}, #{content}, #{likes}, #{collect}, #{createTime}, #{hide})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into comment(user_id, course_id, content, likes, collect, create_time, hide)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.userId}, #{entity.courseId}, #{entity.content}, #{entity.likes}, #{entity.collect},
            #{entity.createTime}, #{entity.hide})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into comment(user_id, course_id, content, likes, collect, create_time, hide)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.userId}, #{entity.courseId}, #{entity.content}, #{entity.likes}, #{entity.collect},
            #{entity.createTime}, #{entity.hide})
        </foreach>
        on duplicate key update
        user_id = values(user_id),
        course_id = values(course_id),
        content = values(content),
        likes = values(likes),
        collect = values(collect),
        create_time = values(create_time),
        hide = values(hide)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update comment
        <set>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="courseId != null">
                course_id = #{courseId},
            </if>
            <if test="content != null and content != ''">
                content = #{content},
            </if>
            <if test="likes != null">
                likes = #{likes},
            </if>
            <if test="collect != null">
                collect = #{collect},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="hide != null">
                hide = #{hide},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from comment
        where id = #{id}
    </delete>

</mapper>


