<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eyy.learning.mapper.PowerMapper">

    <resultMap type="com.eyy.learning.domain.Power" id="PowerMap">
        <result property="pId" column="p_id" jdbcType="INTEGER"/>
        <result property="role" column="role" jdbcType="VARCHAR"/>
        <result property="pLevel" column="p_level" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="PowerMap">
        select p_id,
               role,
               p_level
        from power
        where p_id = #{pId}
    </select>

    <!--查询指定行数据-->
    <select id="queryAll" resultMap="PowerMap">
        select
        p_id, role, p_level
        from power
        <where>
            <if test="pId != null">
                and p_id = #{pId}
            </if>
            <if test="role != null and role != ''">
                and role = #{role}
            </if>
            <if test="pLevel != null and pLevel != ''">
                and p_level = #{pLevel}
            </if>
        </where>
    </select>

    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(*)
        from power
        <where>
            <if test="pId != null">
                and p_id = #{pId}
            </if>
            <if test="role != null and role != ''">
                and role = #{role}
            </if>
            <if test="pLevel != null and pLevel != ''">
                and p_level = #{pLevel}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="pId" useGeneratedKeys="true">
        insert into power(role, p_level)
        values (#{role}, #{pLevel})
    </insert>

    <insert id="insertBatch" keyProperty="pId" useGeneratedKeys="true">
        insert into power(role, p_level)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.role}, #{entity.pLevel})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="pId" useGeneratedKeys="true">
        insert into power(role, p_level)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.role}, #{entity.pLevel})
        </foreach>
        on duplicate key update
        role = values(role),
        p_level = values(p_level)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update power
        <set>
            <if test="role != null and role != ''">
                role = #{role},
            </if>
            <if test="pLevel != null and pLevel != ''">
                p_level = #{pLevel},
            </if>
        </set>
        where p_id = #{pId}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from power
        where p_id = #{pId}
    </delete>

</mapper>


